@charset "utf-8";
@import "base.css";
/*
usage:
$ ivliostyle preview --theme print-vertical.css example/sample.md
or
$ ivliostyle preview example/sample.md
*/

@media print {
    :root {
        column-count: 2;
        column-gap: 18pt;
        column-fill: auto;
        font-size: 9pt;
    }
 
    @page {
        size: A4 portrait;
        margin-block-start: 22mm;
        margin-block-end: 25mm;
        margin-inline-start: 17mm;
        margin-inline-end: 17mm;
    }

    /* ****
    Header
    **** */

    header {
        float: block-start;
        float-reference: page;
        margin-block-end: 14mm;
        padding-inline: 15mm;
    }
}

/* ***
End of script
*** */