/* ****
表の罫線とセルの揃え
**** */

table thead th,
table thead td {
    border-top: 1px solid;
    border-bottom: 2px double;
}
table tbody tr:last-child th,
table tbody tr:last-child td {
    border-bottom: 1px solid;
}

table.col-align-lrlr tr > td:nth-child(1),
table.col-align-lrlr tr > td:nth-child(3) {
    text-align: left;
}
table.col-align-lrlr td:nth-child(2),
table.col-align-lrlr td:nth-child(4) {
    text-align: right;
}
table.col-align-llrr td:nth-child(1),
table.col-align-llrr td:nth-child(2) {
    text-align: left;
}
table.col-align-llrr td:nth-child(3),
table.col-align-llrr td:nth-child(4) {
    text-align: right;
}
table.col-align-lll td:nth-child(1),
table.col-align-lll td:nth-child(2) {
    white-space: nowrap;
}

/* ***
End of script
*** */